﻿
            h1,h1,h3,h4,h5,h6 {
                text-align:center;
            }
         
       
	        a:link {
				color: Blue;
				text-align:center;
                text-decoration:none;
			}

			a:visited {
			    color: blueviolet;
				text-align:center;
                text-decoration:none;
			}

			a:hover {
				color:peachpuff;
                background-color:Red;
				text-align:center;
                text-decoration:underline;
			}

			a:active {
				color: red;
				text-align:center;
                text-decoration:none;
			}


	