﻿            #Header {
                text-align:center;
                font-family: 'Open Sans', sans-serif;
            }

            #Footer {
                  text-align:center;
            }

	        a:link {

			}

			a:visited {
	            color:midnightblue;
			}

			a:hover {
		        font-weight:bold;
			}

			a:active {
                text-decoration:none;
			}

            @media (min-width: 768px) {
                .formalignright {
                    text-align:right;
                }
            }